http://localhost {
    reverse_proxy /events csdevent:3000 {

    }

    reverse_proxy /tickets csdticket:3000 {

    }

    reverse_proxy /addevent csdevent:3000 {

    }

    reverse_proxy /reserveticket csdticket:3000 {

    }

}